<template name="eventChat">
  {{> welcome }}
  {{> messages }}
  {{> input }}
</template>



<template name="welcome">
  <h3>
    chat in: {{event.name}}
  </h3>
</template>

<template name="messages">
  <main id="chatWindow" style="overflow-y: scroll; height:200px; background: black; color: green;">


  {{#each messages}}
    <strong>{{name}}:</strong> {{message}} - <span>{{displayTime}}</span><br>
  {{/each}}
  </main>
</template>

<template name="input">
  <p>Message: <input type="text" id="message"></p>
</template>
