<template name="alarmList">
  {{> header}}
  {{#if currentUser}}
  {{else}}
  <p class="not_logged_in_text"> Maak een account aan als je wil reageren op een alarm </p>
  {{/if}}
  <h1 id="page_title">Huidige Events</h1>
  <main id="alarmList_main">

    <br />
      {{#each Events}}
        <div class="event_wrapper">
          <a href='/event/{{_id}}'>

              <h2>{{name}}</h2>
              {{date}} - {{time}}

          </a>

        {{#if currentUser}}
        <br />
          <button class="remove-alarm">Remove</button>
        {{/if}}
      </div>   <!-- End event_wrapper -->

      {{/each}}
    </main>
</template>
