<template name="alarmList">
  {{> header}}
  {{#if currentUser}}
  {{else}}
  <p> Maak een account aan als je wil reageren op een alarm </p>
  {{/if}}
    <main id="alarmList_main">
      <h1>Huidige Events</h1>
      <br />
        {{#each Events}}
          <div class="event_wrapper">
            <a href='/event/{{_id}}'>

                <h2>{{name}}</h2>
                {{date}} - {{time}}

            </a>

          {{#if currentUser}}
          <br />
            <button class="remove-alarm">Remove</button>
          {{/if}}
        </div>   <!-- End event_wrapper -->

        {{/each}}
      </main>
</template>
