.event_wrapper {
  background: white;
  width: 30em;
  padding: 0em 1em 1em 2em;
  margin: 1em 1em;
}

#alarmList_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#page_title {
  text-align: center;
  color: white;
}

.not_logged_in_text {
  text-align: center;
  color: white;
}
