.event_wrapper {
  background: white;
  width: 30em;
  padding: 0em 1em 1em 2em;
  margin: 1em 1em;
}

#alarmList_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#page_title {
  text-align: center;
  color: white;
}

#uitleg {
  margin: 0 auto;
  display: block;
}

.center_child {
  display: flex;
  justify-content: center;
}
