#chatWindow {
  overflow-y: scroll;
  height:600px;
  max-width: 70em;
  background-image: url(/images/chatWindow/background.jpg);
  color: black;
}

.message {
  margin-left: 1em;
  background: white;
  margin-top: 1em;
  max-width: 30em;
  border-radius: 10px;
  padding: 0.5em 1em;;
}

.message:last-of-type{
  margin-bottom: 1em;
}

.message_content {
  margin: 0px 1em;
}

.message_time {
  text-align: right;
  color: #666;
  font-size: 8px;
}
