<template name="eventChat">
  {{> welcome }}
  {{> messages }}
  {{> input }}
</template>



<template name="welcome">
  <h3>
    chat in: {{event.name}}
  </h3>
</template>

<template name="messages">
  <main id="chatWindow">
  {{#each messages}}
  <div class="message">
    <strong class="message_id">{{name}}:</strong>
    <span class="message_content">{{message}}</span><br />
    <span class="message_time">{{displayTime}}</span>
    <br />
  </div>
  {{/each}}
  </main>
</template>

<template name="input">
  <input class="chat_input" type="text" id="message">
</template>
